.catalog {
    h2 {
        display: inline-block;
        margin: 40px 0;
    }
    a {
        margin: 40px 0;
        float: right;
        text-decoration: none;
        color: $text_color_btn;
        padding-right: 20px;
        background: url("../../img/svg/linkarrow.svg") center right no-repeat;
    }
}
.catalog__wrapper {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(6, 250px);
    grid-template-rows: repeat(2, 190px);
}
.catalog__wrapper div {
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    opacity: 0.9;
    transition: opacity .7s;
}
.catalog1 div:nth-child(9) {
    grid-column-start: 5;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}
.catalog__button {
    align-items: center;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 140px;
    height: 40px;
    border: none;
    background-color: $btn_color;
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    opacity: 0;
    transition: opacity .7s;
    outline: 0 !important;
    @extend %btn_hov_act;
}
.catalog_big {
    top: 40%;
    left: 40%;
}
.catalog__wrapper div:hover button {
    opacity: 1;
    transition: opacity .7s;
}
.catalog__wrapper div:hover {
    opacity: 1;
    transition: opacity .7s;
}
.catalog__label-wrapper {
    position: absolute;
}
.catalog__label {
    position: relative;
    padding: 3px 16px;
    background: linear-gradient(to left, $catalog_color_dark 0%, $catalog_color_light 30%);
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -12px;
        width: 5px;
        height: 1px;
        border-width: 11px 11px;
        border-style: solid;
        border-color: $catalog_color_light $catalog_color_light $catalog_color_light transparent;
    }
}
.catalog1 .label1 {
    top: 25px;
    left: 386px;
}