.catalog3 div:nth-child(9) {
    grid-column-start: 5;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}


.catalog3 .label1 {
    top: 23px;
    left: 163px;
}
.catalog3 .label2 {
    top: 23px;
    left: 186px;
}
.catalog3 .label3 {
    top: 30px;
    left: 366px;
}
