.catalog3 div:nth-child(9) {
    grid-column-start: 5;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
}
.catalog3 div {
    position: relative;
}
.catalog__label-wrapper {
    position: absolute;
}
.label1 {
    top: 23px;
    left: 155px;
}
.catalog__label {
    position: relative;
    padding: 3px 20px;
    background: linear-gradient(to left, #1d1269 0%, #eb0255 30%);
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -12px;
        width: 5px;
        height: 1px;
        border-width: 11px 11px;
        border-style: solid;
        border-color: #eb0255 #eb0255 #eb0255 transparent;
    }
}